li.payment_method_clip_payment_gateway label {
  line-height: 60px;
}

.wc_payment_method > label:first-of-type img {
  display: inline-block;
  float: right;
  vertical-align: middle;
  max-height: 240px !important;
  max-width: 240px !important;
  margin: 0 auto 1.5rem auto;
}

div.payment_method_clip_payment_gateway {
  clear: both;
}
